@font-face {
    font-family: pokemonFont;
    src: url(PokemonFont.ttf) format('truetype');
}

body{
    font-family: pokemonFont;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;

}

#description_text{
    font-size: 7px;
    position: absolute;
    left:45% ;
    top: 37%;
    z-index: 5;

}

#pokemon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;

}

#battle{
    position: absolute;
    left:44.2% ;
    top: 21.5%;
    border-radius: 3px;
    width: 187px;
    height: 163px;
    z-index: 2;
}

#pikachu{
    width:40px;
    height:50px;
    position: absolute;
    left: 52%;
    top: 23%;
    z-index: 3;
}
#charmelon{
    width:40px;
    height:50px;
    position: absolute;
    left: 45%;
    top: 30%;
    z-index: 3;
}

#gameboy{
    width: 519px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
